export DEBUG=True
export JWT_SECRET=secret
export PORT=6000

export SQLALCHEMY_DATABASE_URI=
export SQLALCHEMY_TRACK_MODIFICATIONS=True

export REDIS_URL=""


export MAIL_SERVER='smtp.163.com'
export MAIL_PROT=25
export MAIL_USE_TLS=True
export MAIL_USE_SSL=False
export MAIL_USERNAME=''
export MAIL_PASSWORD=''

export MAIL_CODE_TIME=300
export MAIL_CODE_RESEND=60